AWSTemplateFormatVersion: "2010-09-09"

Description: Creates an EC2 instance with permissions to run elastic-agent

Parameters:
  LatestAmiId:
    Type: AWS::SSM::Parameter::Value<AWS::EC2::Image::Id>
    Default: /aws/service/ami-amazon-linux-latest/al2023-ami-minimal-kernel-default-arm64

  InstanceType:
    Description: The type of EC2 instance to create
    Type: String
    AllowedValues:
      - m6g.xlarge
      - m6g.2xlarge
      - m6g.4xlarge
    Default: m6g.xlarge

  EnrollmentToken:
    Description: The enrollment token of elastic-agent
    Type: String

  FleetUrl:
    Description: The fleet URL of elastic-agent
    Type: String

  ElasticArtifactServer:
    Description: The URL of the artifact server
    Type: String
    Default: https://artifacts.elastic.co/downloads/beats/elastic-agent

  ElasticAgentVersion:
    Description: The version of elastic-agent to install
    Type: String

Resources:

  # Security Group for EC2 instance
  ElasticAgentSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupName: !Join
        - '-'
        - - elastic-agent-security-group
          - !Select
            - 2
            - !Split
              - /
              - !Ref AWS::StackId
      GroupDescription: Block incoming traffic
      SecurityGroupIngress: []

  # IAM Role for EC2 instance
  ElasticAgentRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - ec2.amazonaws.com
            Action:
              - sts:AssumeRole
      Path: /
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/SecurityAudit

  # IAM Role to assume for Management Account
  CloudbeatRootRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              AWS: !GetAtt ElasticAgentRole.Arn
            Action:
              - sts:AssumeRole
      Path: /
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/SecurityAudit

  # Instance profile to attach to EC2 instance
  ElasticAgentInstanceProfile:
    Type: AWS::IAM::InstanceProfile
    Properties:
      InstanceProfileName: !Join
        - '-'
        - - elastic-agent-instance-profile
          - !Select
            - 2
            - !Split
              - /
              - !Ref AWS::StackId
      Path: /
      Roles:
        - !Ref ElasticAgentRole

  # EC2 Instance to run elastic-agent
  ElasticAgentEc2Instance:
    CreationPolicy:
      ResourceSignal:
        Timeout: PT10M
    Type: AWS::EC2::Instance
    Properties:
      Tags:
        - Key: Name
          Value: !Join
            - '-'
            - - elastic-agent-instance
              - !Select
                - 2
                - !Split
                  - /
                  - !Ref AWS::StackId
        - Key: Task
          Value: Cloud Security Posture Management Scanner
      ImageId: !Ref LatestAmiId
      InstanceType: !Ref InstanceType
      IamInstanceProfile: !Ref ElasticAgentInstanceProfile
      SecurityGroupIds:
        - !Ref ElasticAgentSecurityGroup
      UserData: !Base64
        Fn::Sub: |
          #!/bin/bash -x
          signal() {
            sudo yum install -y aws-cfn-bootstrap || { sudo apt-get update && sudo apt-get -y install python3-pip && sudo pip3 install https://s3.amazonaws.com/cloudformation-examples/aws-cfn-bootstrap-py3-latest.tar.gz; }
            cfn-signal --exit-code "$1" --stack ${AWS::StackName} --resource ElasticAgentEc2Instance --region ${AWS::Region}
          }
          install_servers_opt=""
          major_version=$(echo "${ElasticAgentVersion}" | cut -d'.' -f1)
          if [ "$major_version" -ge 9 ]; then
              install_servers_opt="--install-servers"
          fi
          ElasticAgentArtifact=elastic-agent-${ElasticAgentVersion}-linux-arm64
          curl -L -O ${ElasticArtifactServer}/$ElasticAgentArtifact.tar.gz
          tar xzvf $ElasticAgentArtifact.tar.gz
          cd $ElasticAgentArtifact
<<<<<<< HEAD
          sudo ./elastic-agent install --non-interactive --url=${FleetUrl} --enrollment-token=${EnrollmentToken} --tag=cft_version:cloudformation-asset-inventory-single-account-CFT_VERSION.yml --tag=cft_arn:${AWS::StackId}
=======
          sudo ./elastic-agent install --non-interactive $install_servers_opt --url=${FleetUrl} --enrollment-token=${EnrollmentToken} --tag=cft_version:cloudformation-asset-inventory-single-account-CFT_VERSION.yml --tag=cft_arn:${AWS::StackId}
>>>>>>> 8ec9f094 (Fix CloudFormation templates to support installation on both 8.x and 9.x versions (#3032))
          signal $?
      BlockDeviceMappings:
        - DeviceName: /dev/xvda
          Ebs:
            VolumeSize: 32

Outputs:
  Ec2InstanceId:
    Description: The EC2 instance ID
    Value: !Ref ElasticAgentEc2Instance

  Ec2InstancePublicIp:
    Description: The EC2 instance public IP
    Value: !GetAtt ElasticAgentEc2Instance.PublicIp
