# All
* @elastic/cloudbeat

# Infra & devops related
/deploy/ @davesys911
/.github/ @davesys911
/.github/workflows @davesys911 @oren-zohar
Makefile @davesys911
JUSTFILE @davesys911

# Beats related
*.go @elastic/cloudbeat
go.mod @elastic/cloudbeat
go.sum @elastic/cloudbeat

# Automation tests
tests/* @elastic/csp-automation
