# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  # Maintain dependencies for go.mod
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      azure:
        patterns:
          - "github.com/Azure/*"
      aws:
        patterns:
          - "github.com/aws/*"
      google:
        patterns:
          - "cloud.google.com/*"
      elastic:
        patterns:
          - "github.com/elastic/*"
      k8s:
        patterns:
          - "k8s.io/*"
    labels:
      - "backport-skip"
    open-pull-requests-limit: 10

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: ".github/workflows"
    schedule:
      interval: "weekly"
    labels:
      - "backport-skip"
