# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  # Maintain dependencies for go.mod
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      azure:
        patterns:
          - "github.com/Azure/*"
      aws:
        patterns:
          - "github.com/aws/*"
      google:
        patterns:
          - "cloud.google.com/*"
          - "google.golang.org/api"
      elastic:
        patterns:
          - "github.com/elastic/*"
      k8s:
        patterns:
          - "k8s.io/*"
      trivy:
        patterns:
          - "github.com/aquasecurity/*"
    labels:
      - "backport-skip"
      - "dependency"
      - "go"
    open-pull-requests-limit: 10
    # elastic/beats is using v7 in their go.mod, leading to automatic updates not working. Manual update is needed with
    # go get -u github.com/elastic/beats/v7@<commit sha>
    ignore:
      - dependency-name: "github.com/elastic/beats/v7"
    schedule:
      interval: "weekly"
      day: "monday"

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: ".github/workflows"
    schedule:
      interval: "weekly"
      day: "monday"
    labels:
      - "backport-skip"
      - "dependency"
      - "github_actions"
