*env.aws 
data/*
.vscode*
tests/.idea
/.idea
/build
.cloudbeat-test.config.json
cloudbeat-test
*ES-helm*
.DS_Store
/cloudbeat
/cloudbeat.test
*.pyc
*local.yaml
*local.yml
fields.yml
tests/allure/results/*
tests/allure/results/test.dummy
tests/allure/reports/*
*-result.json
*test.dummy
/logs.ndjson