*env.aws
data/*
tests/.idea
/.idea
/build
.cloudbeat-test.config.json
cloudbeat-test
*ES-helm*
.DS_Store
/cloudbeat
/cloudbeat.test
*.pyc
*local.yaml
*local.yml
fields.yml

*-result.json
*test.dummy
/logs.ndjson

# Go
vendor/*

# ci
.secrets
.env
.github/act/*

# tests:
test-logs/*.log
tests/allure/results/*
tests/allure/reports/*

# vscode
.vscode*
*.code-workspace
bundle.tar.gz
/deploy/eks/cloudbeat-ds.yaml
/deploy/k8s/cloudbeat-ds.yaml
/deploy/kustomize/overlays/cloudbeat-vanilla-agent/ca-cert.pem

# terraform
deploy/cloud/.terraform
deploy/cloud/.terraform.lock.hcl
deploy/cloud/terraform.tfstate
deploy/cloud/terraform.tfstate.backup
