# Deploy a cloudbeat instance per node for cis policy
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: cloudbeat
  namespace: kube-system
  labels:
    k8s-app: cloudbeat
spec:
  selector:
    matchLabels:
      k8s-app: cloudbeat
  template:
    metadata:
      labels:
        k8s-app: cloudbeat
    spec:
      containers:
        - name: cloudbeat
          image: cloudbeat:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: ES_HOST
              value: "host.docker.internal:9200"
            - name: CLOUDBEAT_TYPE
              value: cloudbeat/cis_k8s
            - name: ES_USERNAME
              value: elastic
            - name: ES_PASSWORD
              value: changeme
            - name: KIBANA_HOST
              value: "http://host.docker.internal:5601"
            - name: ELASTIC_CLOUD_ID
              value: none
            - name: ELASTIC_CLOUD_AUTH
              value: none
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          securityContext:
            runAsUser: 0
            # If using Red Hat OpenShift uncomment this:
            #privileged: true
          resources:
            # limits:
            #   memory: 200Mi
            requests:
              cpu: 100m
              memory: 100Mi
          volumeMounts:
            - name: config
              mountPath: /cloudbeat.yml
              readOnly: true
              subPath: cloudbeat.yml
            - name: proc
              mountPath: /hostfs/proc
              readOnly: true
            - name: etc-kubernetes
              mountPath: /hostfs/etc/kubernetes
            - name: var-lib
              mountPath: /hostfs/var/lib
              readOnly: true
            - name: cgroup
              mountPath: /hostfs/sys/fs/cgroup
              readOnly: true
            - name: varlibdockercontainers
              mountPath: /var/lib/docker/containers
              readOnly: true
            - name: varlog
              mountPath: /var/log
              readOnly: true
            - name: passwd
              mountPath: /hostfs/etc/passwd
              readOnly: true
            - name: group
              mountPath: /hostfs/etc/group
              readOnly: true
            - name: etcsysmd
              mountPath: /hostfs/etc/systemd
              readOnly: true
      serviceAccountName: cloudbeat
      terminationGracePeriodSeconds: 30
      tolerations:
        - key: node-role.kubernetes.io/master
          effect: NoSchedule
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      volumes:
        - name: proc
          hostPath:
            path: /proc
        - name: etc-kubernetes
          hostPath:
            path: /etc/kubernetes
        - name: var-lib
          hostPath:
            path: /var/lib
        - name: passwd
          hostPath:
            path: /etc/passwd
        - name: group
          hostPath:
            path: /etc/group
        - name: cgroup
          hostPath:
            path: /sys/fs/cgroup
        - name: varlibdockercontainers
          hostPath:
            path: /var/lib/docker/containers
        - name: varlog
          hostPath:
            path: /var/log
        - name: etcsysmd
          hostPath:
            path: /etc/systemd
        - name: config
          configMap:
            defaultMode: 0640
            name: cloudbeat-daemonset-config
