$ErrorActionPreference = "Stop"
$ProgressPreference = "SilentlyContinue"
Invoke-WebRequest -Uri "{{ artifacts_url }}/elastic-agent-{{ agent_version }}-windows-x86_64.zip" -OutFile "elastic-agent.zip"
Expand-Archive -Path "elastic-agent.zip" -DestinationPath "." -Force
Set-Location "elastic-agent-{{ agent_version }}-windows-x86_64"
$installArgs = @("install", "-f"{% if install_servers %}, "{{ install_servers }}"{% endif %}, "--url={{ fleet_url }}", "--enrollment-token={{ enrollment_token }}")
& .\elastic-agent.exe @installArgs
