{{$SELF_MANAGED_TYPE := "cloudbeat/cis_k8s" -}}
{{$EKS_TYPE := "cloudbeat/cis_eks" -}}
{{/* Setting default type to self managed k8s */ -}}
{{$type := $SELF_MANAGED_TYPE -}}
{{if index . "type" -}}
{{$type = .type -}}
{{end -}}
cloudbeat:
  type: {{$type}}
  # Defines how often an event is sent to the output
  period: 4h
  fetchers:
    - name: kube-api
    - name: process
      directory: "/hostfs"
      processes:
        etcd:
        kube-apiserver:
        kube-controller:
        kube-scheduler:
        kubelet:
          config-file-arguments:
            - config
    - name: file-system
      patterns: [
        "/hostfs/etc/kubernetes/scheduler.conf",
        "/hostfs/etc/kubernetes/controller-manager.conf",
        "/hostfs/etc/kubernetes/admin.conf",
        "/hostfs/etc/kubernetes/kubelet.conf",
        "/hostfs/etc/kubernetes/manifests/etcd.yaml",
        "/hostfs/etc/kubernetes/manifests/kube-apiserver.yaml",
        "/hostfs/etc/kubernetes/manifests/kube-controller-manager.yaml",
        "/hostfs/etc/kubernetes/manifests/kube-scheduler.yaml",
        "/hostfs/etc/systemd/system/kubelet.service.d/10-kubeadm.conf",
        "/hostfs/etc/kubernetes/pki/**",
        "/hostfs/var/lib/kubelet/config.yaml",
        "/hostfs/var/lib/etcd",
        "/hostfs/etc/kubernetes/pki"
      ]
  config:
    v1:
{{- if eq $type $SELF_MANAGED_TYPE }}
      benchmark: cis_k8s
{{- else if eq $type $EKS_TYPE }}
      benchmark: cis_eks
{{end}}
#    # EKS Fetchers configuration
#      - name: kube-api
#      - name: process
#        directory: "/hostfs"
#        processes:
#          kubelet:
#            config-file-arguments:
#              - config
#      - name: aws-ecr
#      - name: aws-elb
#      - name: file-system
#        patterns: [
#          "/hostfs/etc/kubernetes/kubelet/kubelet-config.json",
#          "/hostfs/var/lib/kubelet/kubeconfig",
#        ]
