# a cluster with 1 control-plane nodes and 1 worker
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: kind-multi
nodes:
- role: control-plane
  image: kindest/node:v1.21.1
  extraMounts:
  - hostPath: ./tests/allure/results
    containerPath: /tmp/data
- role: worker
  image: kindest/node:v1.21.1
  extraMounts:
  - hostPath: ./tests/allure/results
    containerPath: /tmp/data