# This workflow automatically approves Renovate PRs created by the Renovate bot.
# It checks if the PR is created by the Renovate bot and has the 'renovate-auto-approve' label before approving it.
# Its functionality is complimentary to the Renovate functionality in order to enable a 2-step PR based automerge.
name: GitHub Actions Bot Auto-Approve Renovate PRs
on:
  pull_request:
    branches:
      - main
    # auto_merge_enabled is a custom event that is triggered when a PR is created.
    # Auto-merge will be enabled by Renovate -if configured- and this will trigger the GitHub workflow.
    types: [auto_merge_enabled]
permissions:
  pull-requests: write
jobs:
  approve:
    runs-on: ubuntu-latest
    # The condition checks if the PR is created by the Renovate bot and has the 'renovate-auto-approve' label
    if: (github.event.pull_request.user.login == 'elastic-renovate-prod[bot]') && contains(github.event.pull_request.labels.*.name, 'renovate-auto-approve')
    steps:
    - name: Approve Renovate PR using GitHub Actions Bot
      uses: actions/github-script@v7
      with:
        script: |
          const result = await github.rest.pulls.createReview({
            owner: context.repo.owner,
            repo: context.repo.repo,
            pull_number: context.issue.number,
            event: "APPROVE"
          })