name: Bump Cloudbeat version

on:
  # workflow_dispatch:
  pull_request:
    branches:
      - main

env:
  GITHUB_TOKEN: ${{ secrets.CLOUDSEC_MACHINE_TOKEN }}
  AWS_ACCESS_KEY_ID: ${{ secrets.CSPM_CFT_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.CSPM_CFT_SECRET_ACCESS_KEY }}

jobs:
  bump_version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Cloudbeat Repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.CLOUDSEC_MACHINE_TOKEN }}

      - name: Setup Cloudbeat Versions
        run: |
          current=$(grep defaultBeatVersion version/version.go | cut -f2 -d "\"")
          next=$(echo $version | awk -F. '{$2+=1; print}' OFS='.')
          echo "current: $current"
          echo "next: $next"
          echo "CURRENT_CLOUDBEAT_VERSION=$current" >> $GITHUB_ENV
          echo "NEXT_CLOUDBEAT_VERSION=$next" >> $GITHUB_ENV
          echo "Bumping $CURRENT_CLOUDBEAT_VERSION to $NEXT_CLOUDBEAT_VERSION"

      # - name: Setup Git User
      #   run: |
      #     git config --global user.email "cloudsecmachine@users.noreply.github.com"
      #     git config --global user.name "Cloud Security Machine"

      # - name: Bump Cloudbeat
      #   run: scripts/bump_cloudbeat.sh

      # - name: Bump Cloud Security Posture Integration
      #   run: scripts/bump_integration.sh
