name: Cloudbeat-CI

on:
  pull_request:
    branches:
      - main
      - '[0-9]+.[0-9]+'
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main
      - '[0-9]+.[0-9]+'
env:
  CONTAINER_SUFFIX: ${{ github.run_id }}

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  cloudbeat-build:
    name: Build cloudbeat docker
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Fetch Go version from .go-version
        run: echo "GO_VERSION=$(cat .go-version)" >> $GITHUB_ENV

      # - name: Get changed files
      #   id: changed-files
      #   uses: tj-actions/changed-files@v29.0.4
      #   with:
      #     files: |
      #       **/*.go
      #       *.go
      #       Dockerfile*
      #     files_ignore: |
      #       magefile.go
      #       utils/*.go
      #       scripts/mage/*.go

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Fetch OPA version
        run: echo "OPA_VERSION=$(go list -m -f {{.Version}} github.com/open-policy-agent/opa | sed 's/v//')" >> $GITHUB_ENV

      - name: Setup OPA
        uses: open-policy-agent/setup-opa@v1
        with:
          version: ${{ env.OPA_VERSION }}

      - name: cache go dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ matrix.go-version }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ matrix.go-version }}-

      - name: build cloudbeat
        run: make

      - name: build opa bundle
        uses: magefile/mage-action@v2
        with:
          version: latest
          args: BuildOpaBundle

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Cache Build dependencies
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.workflow }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Build cloudbeat-docker
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
          tags: cloudbeat:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new
          outputs: type=docker,dest=/tmp/cloudbeat-${{ env.CONTAINER_SUFFIX }}.tar

      - name: Cache docker images
        uses: actions/cache@v2
        with:
          path: /tmp/*.tar
          key: ${{ runner.os }}-dockers-cache-${{ env.CONTAINER_SUFFIX }}
          restore-keys: |
            ${{ runner.os }}-dockers-cache-

      # - name: Move cache
      #   run: |
      #     rm -rf /tmp/.buildx-cache
      #     mv /tmp/.buildx-cache-new /tmp/.buildx-cache

  pytest-build:
    name: Build pytest docker
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      # - name: Get changed files
      #   id: changed-files
      #   uses: tj-actions/changed-files@v29.0.4
      #   with:
      #     files: |
      #       tests/**

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Cache Build dependencies
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache-pytest
          key: ${{ runner.os }}-buildx-pytest-${{ github.workflow }}
          restore-keys: |
            ${{ runner.os }}-buildx-pytest

      - name: Build pytest-docker
        uses: docker/build-push-action@v2
        with:
          context: ./tests/.
          push: false
          tags: cloudbeat-test:latest
          cache-from: type=local,mode=max,src=/tmp/.buildx-cache
          cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-new
          outputs: type=docker,dest=/tmp/pytest-${{ env.CONTAINER_SUFFIX }}.tar

      - name: Cache docker images
        uses: actions/cache@v2
        with:
          path: /tmp/*.tar
          key: ${{ runner.os }}-dockers-cache-${{ env.CONTAINER_SUFFIX }}
          restore-keys: |
            ${{ runner.os }}-dockers-cache-

      # - name: Move cache
      #   run: |
      #     rm -rf /tmp/.buildx-cache
      #     mv /tmp/.buildx-cache-new /tmp/.buildx-cache

  Test_Matrix:
    name: ${{ matrix.test-target }}-${{ matrix.range }}-tests
    needs: [pytest-build, cloudbeat-build]
    runs-on: ubuntu-latest
    timeout-minutes: 55
    strategy:
      matrix:
        include:
          - test-target: pre_merge
          - test-target: file_system_rules
            range: '0..15'
          - test-target: file_system_rules
            range: '15..30'
          - test-target: file_system_rules
            range: '30..45'
          - test-target: file_system_rules
            range: '45..60'
          - test-target: file_system_rules
            range: '60..'
          - test-target: k8s_object_rules
            range: '0..6'
          - test-target: k8s_object_rules
            range: '6..12'
          - test-target: k8s_object_rules
            range: '12..18'
          - test-target: k8s_object_rules
            range: '18..'
          - test-target: process_scheduler_rules
            range: '0..3'
          - test-target: process_scheduler_rules
            range: '3..'
          - test-target: process_api_server_rules
            range: '0..5'
          - test-target: process_api_server_rules
            range: '5..10'
          - test-target: process_api_server_rules
            range: '10..15'
          - test-target: process_api_server_rules
            range: '15..20'
          - test-target: process_api_server_rules
            range: '20..24'
          - test-target: process_api_server_rules
            range: '24..28'
          - test-target: process_api_server_rules
            range: '28..32'
          - test-target: process_api_server_rules
            range: '32..36'
          - test-target: process_api_server_rules
            range: '36..40'
          - test-target: process_api_server_rules
            range: '40..44'
          - test-target: process_api_server_rules
            range: '44..48'
          - test-target: process_api_server_rules
            range: '48..52'
          - test-target: process_api_server_rules
            range: '52..56'
          - test-target: process_api_server_rules
            range: '56..'
          - test-target: process_controller_manager_rules
            range: '0..4'
          - test-target: process_controller_manager_rules
            range: '4..8'
          - test-target: process_controller_manager_rules
            range: '8..12'
          - test-target: process_controller_manager_rules
            range: '12..'
          - test-target: process_etcd_rules
            range: '0..4'
          - test-target: process_etcd_rules
            range: '4..8'
          - test-target: process_etcd_rules
            range: '8..12'
          - test-target: process_etcd_rules
            range: '12..'
          - test-target: process_kubelet_rules
            range: '0..4'
          - test-target: process_kubelet_rules
            range: '4..8'
          - test-target: process_kubelet_rules
            range: '8..12'
          - test-target: process_kubelet_rules
            range: '12..16'
          - test-target: process_kubelet_rules
            range: '16..20'
          - test-target: process_kubelet_rules
            range: '20..'
      fail-fast: false
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - uses: azure/setup-helm@v1
        id: install

      - uses: extractions/setup-just@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.2.0
        with:
          config: deploy/k8s/kind/kind-config.yml
          cluster_name: kind-mono

      - name: Cache docker images
        uses: actions/cache@v2
        with:
          path: /tmp/*.tar
          key: ${{ runner.os }}-dockers-cache-${{ env.CONTAINER_SUFFIX }}
          restore-keys: |
            ${{ runner.os }}-dockers-cache-${{ env.CONTAINER_SUFFIX }}

      - name: Load images to kind
        run: |
          kind load image-archive /tmp/cloudbeat-${{ env.CONTAINER_SUFFIX }}.tar --name=kind-mono & kind load image-archive /tmp/pytest-${{ env.CONTAINER_SUFFIX }}.tar --name=kind-mono

      - name: Deploy tests Helm chart
        id: deploy_helm
        run: |
          just deploy-tests-helm-ci ${{ matrix.test-target }} ${{ matrix.range }}

      - name: Run Tests
        id: run_tests
        run: |
          just run-tests-ci

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: allure_results-${{ matrix.test-target}}
          path: tests/allure/results/

      - name: clear cache
        id: clear_cache
        if: success()
        run: rm -rf /tmp/${{ env.CONTAINER_SUFFIX }}.tar
