name: Coverage

on:
  pull_request:
    branches:
      - main
      - '[0-9]+.[0-9]+'
    types: [ assigned, opened, synchronize, reopened ]
  push:
    branches:
      - main

env:
  K8S_MANIFEST_DIR: deploy
  GO_VERSION: 1.18.4

jobs:
  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Update coverage
        run: go install github.com/mattn/goveralls@latest

      - name: Send coverage
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: goveralls -service=github
