name: EKS-CI

on:
  # On demand execution of workflow will run all suites.
  workflow_dispatch:
    inputs:
      test-targets:
        required: true
        description: "Specify test markers to run"
        default: '["eks"]'

  # On post-merge execution running eks tests
  push:
    branches:
      - main
      - "[0-9]+.[0-9]+"

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_TEST_ACC }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_TEST_ACC }}
  GITHUB_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CONTAINER_SUFFIX: ${{ github.run_id }}
  TEST_TARGETS_DEFAULT: '["pre_merge"]'
  AWS_REGION: eu-west-2
  REPORTS_DIR: tests/allure/results/
  KUBE_NAMESPACE: kube-system
  CI_ELASTIC_AGENT_DOCKER_TAG: "8.14.0-SNAPSHOT"
  CI_ELASTIC_AGENT_DOCKER_IMAGE: "391946104644.dkr.ecr.eu-west-2.amazonaws.com/elastic-agent"

# run only a single job at a time
concurrency: EKS-Functional-Tests

jobs:
  Setup:
    runs-on: ubuntu-22.04
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    timeout-minutes: 40
    steps:
      - id: set-default-matrix
        env:
          TEST_TARGETS: ${{ env.TEST_TARGETS_DEFAULT }}
        run: |
          echo "TEST_MATRIX=$TEST_TARGETS" >> $GITHUB_ENV

      - id: Dispatch
        if: github.event_name == 'workflow_dispatch'
        env:
          TEST_TARGETS: ${{ github.event.inputs.test-targets }}
        run: echo "TEST_MATRIX=${TEST_TARGETS}" >> $GITHUB_ENV

      - id: set-matrix
        run: echo "matrix=${{ env.TEST_MATRIX}}" >> $GITHUB_OUTPUT

  Build:
    name: Build
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    steps:
      - name: Check out the repo
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Hermit Environment
        uses: ./.github/actions/hermit
        with:
          init-tools: 'false'

      - name: build cloudbeat binary
        run: mage build

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Build cloudbeat-docker
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          file: ./deploy/Dockerfile
          push: false
          tags: cloudbeat:latest
          outputs: type=docker,dest=/tmp/cloudbeat-${{ env.CONTAINER_SUFFIX }}.tar

      - name: Build elastic-agent
        env:
          BASE_IMAGE: docker.elastic.co/beats/elastic-agent:${{ env.CI_ELASTIC_AGENT_DOCKER_TAG }}
          GOOS: linux
          GOARCH: amd64
        run: ./scripts/packaging/docker/elastic-agent/build.sh -t ${{ env.CI_ELASTIC_AGENT_DOCKER_IMAGE }}:${{ env.CI_ELASTIC_AGENT_DOCKER_TAG }}
        shell: bash

      - name: Build pytest-docker
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: ./tests/.
          push: false
          tags: cloudbeat-test:latest
          outputs: type=docker,dest=/tmp/pytest-${{ env.CONTAINER_SUFFIX }}.tar

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@5fd3084fc36e372ff1fff382a39b10d03659f355 # v2
        with:
          aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2

      - name: Load images cloudbeat and cloudbeat-test to ECR
        id: load-to-ecr
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: |
          ./.ci/scripts/ecr-images.sh ${{ env.CONTAINER_SUFFIX }}  ${{ env.ECR_REGISTRY }} ${{ env.CI_ELASTIC_AGENT_DOCKER_TAG }}
        shell: bash

  Test_Matrix:
    needs: ["Setup", "Build"]
    strategy:
      fail-fast: false
      matrix:
        include:
          - test-target: eks
            range: ""
            values_file: tests/test_environments/values/ci-eks-config-1.yml
            k8s_context: "test-eks-config-1"
            label: "EKS functional tests: config 1"
          - test-target: eks
            range: ""
            values_file: tests/test_environments/values/ci-eks-config-2.yml
            k8s_context: "test-eks-config-2"
            label: "EKS functional tests: config 2"
    name: ${{ matrix.label }}
    runs-on: ubuntu-22.04
    timeout-minutes: 90
    steps:
      - name: Check out the repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      # Setup all required tools
      - name: Init Hermit
        run: ./bin/hermit env -r >> $GITHUB_ENV

      - name: Get kubeconfig and select context
        if: success()
        run: |
          aws eks update-kubeconfig --name ${{ matrix.k8s_context }} --region ${{ env.AWS_REGION }} --alias ${{ matrix.k8s_context }}
          echo 'KUBE_CONFIG_DATA=$(cat ~/.kube/config | base64)' >> $GITHUB_ENV
          kubectl config use-context ${{ matrix.k8s_context }}
          kubectl config set-context --current --namespace=${{ env.KUBE_NAMESPACE }}

      - name: Deploy tests Helm chart
        id: deploy_helm
        if: success()
        run: |
          just deploy-tests-helm ${{ matrix.test-target }} ${{ matrix.values_file }} ${{ matrix.range }}

      - name: Execute tests
        id: run_tests
        if: success()
        run: |
          just run-tests ${{ matrix.test-target }} ${{ matrix.k8s_context }}

      - name: Copy test results
        id: copy_results
        if: always()
        run: |
          NODE=$(kubectl get po test-pod-v1 -o jsonpath='{.spec.nodeName}')
          RESULTS_POD=$(kubectl get po -l k8s-app=eks-results --field-selector spec.nodeName=$NODE -o jsonpath='{.items[*].metadata.name}')
          kubectl cp $RESULTS_POD:/reports ${{ env.REPORTS_DIR }}
          kubectl exec $RESULTS_POD -- sh -c 'rm -rf /reports/*'

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4
        with:
          name: allure_results-${{ matrix.k8s_context}}
          path: ${{ env.REPORTS_DIR }}

      - name: Purge tests environment
        id: purge_helm
        if: always()
        run: |
          just purge-tests

  publish_results:
    name: Publish Results
    needs: Test_Matrix
    if: always()
    runs-on: ubuntu-22.04
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
        with:
          pattern: allure_results-*
          path: artifacts
          merge-multiple: true

      - name: Extract Artifacts
        run: |
          mkdir -p tests/allure/results
          find artifacts/ -type f -print0 | xargs -0 mv -t tests/allure/results

      - name: Publish allure report
        if: always()
        uses: andrcuns/allure-publish-action@87c4707902ad7187c6e674c08f296353a16176a1  # v2.9.0
        env:
          GITHUB_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AWS_REGION: eu-west-1
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        with:
          storageType: s3
          resultsGlob: "tests/allure/results"
          updatePr: actions
          collapseSummary: false
          summary: suites
          summaryTableType: markdown
          copyLatest: true
          bucket: csp-allure-reports
          prefix: allure_reports/cloudbeat/${{ github.ref_name }}
          ignoreMissingResults: true
