name: Packaging

on:
  pull_request:
    branches:
      - main
      - "[0-9]+.[0-9]+"
    types: [opened, synchronize, reopened]

env:
  DEV: true
  SNAPSHOT: true
  PLATFORMS: linux/amd64
  GOPATH: /home/runner/go

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  package_beat:
    name: Package Cloudbeat
    runs-on: ubuntu-22.04
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        types: [tar.gz, docker]
    steps:
      - name: Check out the repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Hermit Environment
        uses: ./.github/actions/hermit
        with:
          init-tools: "false"
          free-disk: "true"

      - name: Packaging
        run: |
          mage -v package
        env:
          TYPES: ${{ matrix.types }}
