name: Packaging

on:
  pull_request:
    branches:
      - main
      - '[0-9]+.[0-9]+'
    types: [opened, synchronize, reopened]

env:
  DEV: true
  SNAPSHOT: true
  PLATFORMS: linux/amd64
  GOPATH: /home/runner/go

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  package_beat:
    name: Package Cloudbeat
    runs-on: ubuntu-20.04
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        types: [ tar.gz, docker ]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Setup GO (with caching)
        uses: actions/setup-go@v3
        with:
          go-version-file: .go-version
          cache: true

      - name: Init Hermit
        run: ./bin/hermit env -r >> $GITHUB_ENV

      - name: Packaging
        run: |
          mage -v package
        env:
          TYPES: ${{ matrix.types }}
