name: Publish-CloudFormation

on:
  push:
    branches:
      - main
      - "[0-9]+.[0-9]+"
    paths:
      - deploy/cloudformation/*.yml
      - .github/workflows/publish-cloudformation.yml

jobs:
  publish_cloudformation:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.CSPM_CFT_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.CSPM_CFT_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Upload to S3 if elastic-agent CloudFormation template has changed
        run: |
          VERSION=$(grep defaultBeatVersion version/version.go | cut -f2 -d "\"")
          DATE=$(date +"%Y-%m-%d-%H-%M-%S")
          CNVM_FILENAME="cloudformation-cnvm-$VERSION-$DATE.yml"
          echo "Uploading $CNVM_FILENAME to S3"
          aws s3 cp deploy/cloudformation/elastic-agent-ec2-cnvm.yml s3://elastic-cspm-cft/$CNVM_FILENAME

          CSPM_FILENAME="cloudformation-cspm-single-account-$VERSION-$DATE.yml"
          echo "Uploading $CSPM_FILENAME to S3"
          aws s3 cp deploy/cloudformation/elastic-agent-ec2-cspm.yml s3://elastic-cspm-cft/$CSPM_FILENAME

          CSPM_ORG_FILENAME="cloudformation-cspm-organization-account-$VERSION-$DATE.yml"
          echo "Uploading $CSPM_ORG_FILENAME to S3"
          aws s3 cp deploy/cloudformation/organization.yml s3://elastic-cspm-cft/$CSPM_ORG_FILENAME

          # TODO: HACK: remove this after https://github.com/elastic/kibana/issues/161265 is resolved
          CSPM_FILENAME="cloudformation-cspm-ACCOUNT_TYPE-$VERSION-$DATE.yml"
          echo "Uploading $CSPM_FILENAME to S3"
          aws s3 cp deploy/cloudformation/elastic-agent-ec2-cspm.yml s3://elastic-cspm-cft/$CSPM_FILENAME
          # fail the pipeline if issue is not open
          curl -L -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" https://api.github.com/repos/elastic/kibana/issues/161265 | grep '"state": "open"' || exit 1
