name: UnitTests

on:
  pull_request:
    branches:
      - main
      - '[0-9]+.[0-9]+'
    types: [ assigned, opened, synchronize, reopened ]
  push:
    branches:
      - main

env:
  K8S_MANIFEST_DIR: deploy
  GO_VERSION: 1.18.4

jobs:
  unit_tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Mage Check
        uses: magefile/mage-action@v1.6.0
        with:
          args: check

      - name: Mage check license headers
        uses: magefile/mage-action@v1.6.0
        with:
          args: checkLicenseHeaders

      - name: Unit-Test Cloudbeat
        run: |
          GOOS=linux go test ./...

  manifest_tests:
    name: Manifest Tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Get diff k8s manifests
        uses: technote-space/get-diff-action@v4
        with:
          PATTERNS: ${{ env.K8S_MANIFEST_DIR }}/**

      - name: Run K8s manifest tests
        if: env.GIT_DIFF
        uses: stefanprodan/kube-tools@v1
        with:
          kubectl: 1.18.4
          kubeval: v0.16.1
          command: |
            kubeval --strict ${{ env.K8S_MANIFEST_DIR }}/k8s/**/*.yml --ignore-missing-schemas
            kubeval --strict ${{ env.K8S_MANIFEST_DIR }}/eks/**/*.yml --ignore-missing-schemas
            kubeval --strict ${{ env.K8S_MANIFEST_DIR }}/kustomize/base/*.yml --ignore-missing-schemas

  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ (github.event.pull_request_target || github.event.pull_request).head.repo.full_name }}
          ref: ${{ (github.event.pull_request_target || github.event.pull_request).head.sha }}

      - name: Go linter
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: --timeout=10m --whole-files
