name: bump-beats

on:
  workflow_dispatch:
  schedule:
    - cron: '0 13 * * 1'

permissions:
  contents: read

jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
      - uses: elastic/apm-pipeline-library/.github/actions/updatecli@current
        env:
          BRANCH_NAME: main
        with:
          vaultUrl: ${{ secrets.VAULT_ADDR }}
          vaultRoleId: ${{ secrets.VAULT_ROLE_ID }}
          vaultSecretId: ${{ secrets.VAULT_SECRET_ID }}
          pipeline: ./.ci/bump-beats.yml
